* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-size: 16px; */
    /* 允许界面自由复制：all全部内容可复制，text选中的复制 */
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
/* body {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
} */

a {
	text-decoration: none;
}

uni-page-body {
	height: 100%;
    /* -webkit-touch-callout: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text; */
}

uni-toast {
	z-index: 999999 !important;
}

ul,
ol {
	list-style: none;
}

html,
input {
	background-color: transparent;
}

.main {
	background: #fff;
	height: 100%;
}

.common-arrow-right,
.common-arrow-bottom,
.common-arrow-top {
	width: 20rpx;
	height: 20rpx;
	border-top: 1px solid #666;
	border-right: 1px solid #666;
}

.common-arrow-right {
	transform: rotate(45deg);
}

.common-arrow-bottom {
	transform: rotate(135deg);
}

.common-arrow-top {
	transform: rotate(-45deg);
}

uni-page-head .uni-page-head__title {
	font-size: 18px !important;
}

uni-page-head .uni-page-head,
uni-page-head {
	height: 100rpx !important;
	line-height: 100rpx !important;
	border-bottom: 1px solid #eee;
}

uni-page-head .uni-page-head-bd {
	top: 20rpx;
	height: 60rpx;
}

uni-page-head .uni-btn-icon {
	margin-top: 40rpx;
}

uni-page-head[uni-page-head-type=default]~uni-page-wrapper {
	height: calc(100vh - 100rpx - env(safe-area-inset-top));
}

uni-page-head .uni-btn-icon {
	margin-top: 30rpx;
}

.load-done {
	text-align: center;
	height: 80rpx;
	line-height: 80rpx;
	color: #999;
}

.empty {
    width: 100%;
    padding-top: 200rpx;
    color: #666666;
    text-align: center;
    font-size: 30rpx;
}

.empty-image {
    height: 200rpx !important;
    width: 200rpx !important;
}

.load-failed {
    width: 100%;
    text-align: center;
    padding: 80rpx 0;
}

.load-failed-image-style {
    width: 256rpx;
    height: 256rpx;
}

.load-failed-text {
    font-size: 30rpx;
    color: #999999;
    margin-top: -60rpx;
}

/*-----------地图相关样式开始------------------*/
.map-my-canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 99;
	pointer-events: none;
}

.map_power {
	position: relative;
}

.map_power_common {
	position: absolute;
	width: 32px;
	height: 32px;
	background-size: 100% 100%;
	left: -20px;
	top: -35px;
	z-index: 90;
}

.map_event_pop {
	width: 0.2rem;
	height: 0.2rem;
	border-radius: 50%;
	background: white;

}

.map_power1 {
	background-image: url("../imgs/map/icon_map_location1.png");
}
.map_power2 {
	background-image: url("../imgs/map/icon_map_location2.png");
}
.map_power3 {
	background-image: url("../imgs/map/icon_map_location3.png");
}
.map_power4 {
	background-image: url("../imgs/map/icon_map_location4.png");
}


.map_event {
	z-index: 1;
}



/*-----------地图相关样式结束------------------*/
